<footer class="footer">
  <div class="footer__copy">
    &copy;2013-2016 BeMo Academic Consulting Inc. All rights reserved. 
    <%= link_to "Disclaimer and Privacy Policy", "https://cdainterview.com/disclaimer-privacy-policy.html", target: "_blank" %>
    <%= link_to "Contact Us", contact_us_path %>
  </div>
  <div class="footer__social">
    <a href="https://www.facebook.com/bemoacademicconsulting"><ion-icon name="logo-facebook"></ion-icon><a>
    <a href="https://twitter.com/BeMo_AC"><ion-icon name="logo-twitter"></ion-icon></a>
  </div>
</footer>