<%= render 'sidebar' %>
<header class="header-contact"></header>
<%= @page.text %>
<%= render 'form' %>
<div class="note">
  <p><span><strong>Note</strong></span>: If you are having difficulties with our contact us form above, send us an email to info@bemoacademicconsulting.com (copy & paste the email address)<p>
</div>
<%= render 'footer' %>