@import "variables";
.header {
  position: relative;
  height: 100vh;
  background-image: image_url("hero-home.jpg");
  &__textbox {
    position: absolute;
    color: white;
    width: 120rem;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4.6rem;
    letter-spacing: 1rem;
    &:after {
      display: block;
      height: 0.2rem;
      background-color: white;
      margin: 0 auto;
      content: " ";
    }
  }
}

.nav {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 500ms;
  z-index: 9999;
  &__logo {
    margin-left: 5.7rem;
    height: 10rem;
  }
  &__main {
    float: right;
    list-style: none;
    margin-top: 3rem;
    font-size: 1.8rem;
    li {
      display: inline-block;
      margin-right: 6rem;
      color: $color-dark;
      a {
        &:link,
        &:visited {
          text-decoration: none;
          color: $color-dark;
          border-bottom: .1rem solid transparent;
          transition: all 200ms;
        }
        &.active { color: $color-blue }

        &:link::after,
        &:visited::after,
        &.active::after {
          display: block;
          content: " ";
          height: .1rem;
          width: 50%;
          margin: 0 auto;
          background-color: $color-blue;
          opacity: 0;
          transition: all 200ms;
        }
        &:link::after,
        &:visited::after { opacity: 0; }
        &.active::after,
        &:hover::after,
        &:active::after { opacity: 1 }
      }
    }
  }
}

.trix-content {
  font-size: 1.6rem;
  padding: 2%;
  color: $color-gray;
  strong { color: $color-gray-dark; }
  a:link,
  a:visited {
    text-decoration: none;
    color: $color-orange;
    transition: all 500ms;
  }
  a:hover,
  a:active {
    color: grey;
  }
}

trix-toobar {
  margin-top: 10rem;
}